body{
    background-color: rgb(204, 226, 226);
}
.face{
    width: 500px;
    height: 500px;
    background: rgb(162, 255, 0);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
}
.eye{
    width: 180px;
    height: 180px;
    position: absolute;
    background: aliceblue;
    border-radius: 50%;
    top: 100px;
    overflow: hidden;
}
.eye:nth-child(1){
    left: 40px;
}
.eye:nth-child(2){
    right: 40px;
}
.pupil{
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 50%;
    position: absolute;
    left: 50px;
    top: 50px;
    margin-top: 25px;
    margin-left: 25px;
}
.lips{
    width: 400px;
    height: 400px;
    background-color: transparent;
    border-radius: 50%;

    position: absolute;
    bottom: 80px;
    left: 50%;
    margin-left: -200px;
    border: 5px solid #000;
    border-color: transparent transparent #000 transparent;
}
.nose{
    width: 50px;
    height: 50px;
    left: 230px;

    position: absolute;
    background-color:rgb(195, 37, 103);
    border-radius: 50%;
    bottom: 150px;

}